<label>Server Name</label>
<!--input type="text" class="form-control" (input)="onUpdateServerName($event)"-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<button class="btn btn-warning" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!--p>{{ serverCreationStatus }}</p-->
<!--p>{{ serverName }}</p-->
<p *ngIf="serverCreated; else noServer">Server was created, name is {{ serverName}} </p>
<ng-template #noServer>
<p>No Server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
